<!--Footer-->
<footer>
  <h2>Riverside Grill & Bar</h2>
  <nav>
    <ul>
      <li>
        <a href=""><img src="" /></a>
      </li>
      <li>
        <a href=""><img src="" /></a>
      </li>
      <li>
        <a href=""><img src="" /></a>
      </li>
    </ul>
  </nav>
  <p>Trademark</p>
</footer>
