<header class="header">
  <div class="container">
    <div class="restaurant">
      <h2 class="restaurant-name">Riverside Grill & Bar</h2>
      <img class="restaurant-logo" src="Images/riverside.jpg" />
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Us</a></li>
        <li>
          <button class="cart-btn">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!--Cart side popup-->
<body>
  <div class="cart-popup">
    <div class="cart-header">
      <div class="cart-overview">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <h2 class="cart-num-items">2 Items</h2>
      </div>
      <i class="fa-solid fa-x fa-lg"></i>
    </div>
  </div>
</body>
