<header class="header">
  <div class="restaurant">
    <h2 class="title">Riverside Grill & Bar</h2>
    <img class="logo" src="Images/riverside.jpg" />
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><p>Menu</p></li>
      <li><p>Catering</p></li>
      <li><p>Careers</p></li>
      <li><p>About Us</p></li>
      <li class="cart badge" value="0"></li>
    </ul>
  </nav>
</header>
