<header class="header">
  <h2>Riverside Grill & Bar</h2>
  <img src="../public/Images/riverside.jpg" />
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><p>Menu</p></li>
      <li><p>Catering</p></li>
      <li><p>Careers</p></li>
      <li><p>About Us</p></li>
      <li class="cart badge" value="8"></li>
      <i class="fa badge fa-lg" value="8">&#xf07a;</i>
      <!--test-->
    </ul>
  </nav>
</header>
