<!--Header and navigation-->
<header class="header">
  <div class="container">
    <div class="title">
      <h2 class="name">Riverside Grill & Bar</h2>
      <img class="logo" src="Images/riverside.jpg" />
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Us</a></li>
        <li>
          <button id="cart-btn">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            <span class="cart-icon">0</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!--Cart side popup-->
<body id="body">
  <!--Area outisde of the cart-->
  <div id="cart-outside"></div>
  <!--Cart-->
  <div id="cart">
    <!--Cart header-->
    <div class="cart-header">
      <div class="cart-overview">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <h2 class="cart-num-items">0 Items</h2>
      </div>
      <button id="cart-close">
        <i class="fa-solid fa-x fa-lg"></i>
      </button>
    </div>
    <!--Cart contents-->
    <div class="cart-content"></div>
    <!--Cart footer-->
    <div class="cart-footer">
      <h2 class="cart-total">$0</h2>
      <button id="cart-checkout" type="button"><a href="#">CHECKOUT</a></button>
    </div>
  </div>
</body>

<!--Control cart popup-->
<script>
  let cart = document.getElementById("cart");
  let outsideCart = document.getElementById("cart-outside");
  let open = document.getElementById("cart-btn");
  let close = document.getElementById("cart-close");
  let body = document.getElementById("body");

  // Open the cart on click
  open.addEventListener("click", () => {
    cart.classList.add("cart-open");

    // Prevent user from interacting with objects outside the cart
    body.classList.add("disable-scroll");
    outsideCart.classList.add("show");
  });

  // Close the cart on button click
  close.addEventListener("click", () => {
    cart.classList.remove("cart-open");
    body.classList.remove("disable-scroll");
    outsideCart.classList.remove("show");
  });

  // Close cart when user clicks outside
  outsideCart.addEventListener("click", () => {
    cart.classList.remove("cart-open");
    body.classList.remove("disable-scroll");
    outsideCart.classList.remove("show");
  });
</script>
