<header class="header">
  <div class="container">
    <div class="restaurant">
      <h2 class="restaurant-name">Riverside Grill & Bar</h2>
      <img class="restaurant-logo" src="Images/riverside.jpg" />
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About Us</a></li>
        <li>
          <button id="cart-btn" class="cart-btn">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!--Cart side popup-->
<body>
  <div id="cart" class="cart">
    <div class="cart-header">
      <div class="cart-overview">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        <h2 class="cart-num-items">2 Items</h2>
      </div>
      <button id="cart-close" class="cart-close">
        <i class="fa-solid fa-x fa-lg"></i>
      </button>
    </div>
  </div>
</body>
<script>
  let cart = document.getElementById("cart");
  let open = document.getElementById("cart-btn");
  let close = document.getElementById("cart-close");

  // Open the cart on click
  open.addEventListener("click", () => cart.classList.add("cart-open"));

  // Close the cart on click
  close.addEventListener("click", () => cart.classList.remove("cart-open"));
</script>
