<header class="header">
  <h1>Riverside Grill & Bar</h1>
  <img src="../public/Images/riverside.jpg" />
  <nav>
    <div class="nav">
      <a href="/">Home</a>
      <p>Menu</p>
      <p>Catering</p>
      <p>Careers</p>
      <p>About Us</p>
      <img src="../public/Images/cart.png" />
    </div>
  </nav>
</header>
