<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <div>
      <h1>RIVERSIDE GRILL & BAR</h1>
      <button type="button">ORDER NOW</button>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
</html>
