<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | Riverside Grill & Bar</title>
  </head>
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <!--Container for title-->
    <div>
      <h1>RIVERSIDE GRILL & BAR</h1>
      <button type="button">ORDER NOW</button>
    </div>
    <!--Container for reservations-->
    <div>
      <!--TODO: insert image for background-->
      <div>
        <h2>Want to Book a Reservations?</h2>
        <p>Call 613-123-1234</p>
      </div>
    </div>
    <!--Container for all promotions-->
    <div>
      <h2>Promotions:</h2>
      <!--Container for promotions slideshow-->
      <div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Today's Special!</h3>
            <h4>Cheesecake</h4>
          </div>
        </div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Kids Eat Free</h3>
            <p>Available Monday to Friday</p>
          </div>
        </div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Limited Time Offer!</h3>
            <h4>Try our new, limited Pepperoni Pizza!</h4>
            <p>Available until June 1</p>
          </div>
        </div>
      </div>
    </div>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <h1>test</h1>
    <%- include('layouts/footer'); -%>
  </body>
</html>
