<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home | Riverside Grill & Bar</title>
  </head>
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!--Container for main section-->
    <div class="main">
      <h1 class="main-title">RIVERSIDE GRILL & BAR</h1>
      <h2 class="main-caption">#1 Restaurant in Arnprior, Ontario</h2>
      <!--Button takes user to menu-->
      <button id="main-btn" type="button"><a href="#">ORDER NOW</a></button>
    </div>

    <!--Testing-->
    <h1 style="font-size: 70px; color: red;">TEST</h1>
    <button class="add-btn" style="font-size: 70px" type="button">ADD</button>

    <div class="item">
      <h2 style="font-size: 70px" class="item-title">Pizza</h2>
      <h2 style="font-size: 70px" class="item-price">$9.99</h2>
      <img class="item-image" src="Images/pizza.jpg" />
      <input style="height: 100px; width: 500px" class="item-description"></input>
    </div>

    <!--Container for reservations-->
    <div>
      <!--TODO: insert image for background-->
      <div>
        <h2>Want to Book a Reservations?</h2>
        <p>Call 613-123-1234</p>
      </div>
    </div>

    <!--Container for all promotions-->
    <div>
      <h2>Promotions:</h2>
      <!--Container for promotions slideshow-->
      <div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Today's Special!</h3>
            <h4>Cheesecake</h4>
          </div>
        </div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Kids Eat Free</h3>
            <p>Available Monday to Friday</p>
          </div>
        </div>
        <!--Container for individual promotion-->
        <div>
          <!--TODO: insert image for promotion background-->
          <!--Container for promotion description-->
          <div>
            <h3>Limited Time Offer!</h3>
            <h4>Try our new, limited Pepperoni Pizza!</h4>
            <p>Available until June 1</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
  <!--Should be added to menu page-->
  <script>
    let addToCartBtns = document.getElementsByClassName("add-btn");

    for (i = 0; i < addToCartBtns.length; i++) {
      let button = addToCartBtns[0];
      button.addEventListener("click", addBtnClicked);
    }

    // Retrieve item details when added to cart
    function addBtnClicked(event) {
      let button = event.target;
      let item = button.parentElement;
      let title = item.getElementsByClassName("item-title")[0].innerText;
      let description = item.getElementsByClassName("item-description")[0].value;
      let price = item.getElementsByClassName("item-price")[0].innerText;
      let image = item.getElementsByClassName("item-image")[0].src;
      addItem(title, description, price, image);
    }

    // Add item to cart
    function addItem(title, description, price, image) {
      let cartItem = document.createElement("div");
      let cartItems = document.getElementsByClassName("cart-content")[0];
      let cartItemNames = cartItems.getElementsByClassName("cart-item-title");
      // for (i = 0; i < cartItemNames.length; i++) {
      //   if (cartItemNames[i].innerText == title) {
      //     // Temporary
      //     alert("This item has already been added to your cart");
      //     return;
      //   }
      // }
      
      // HTML format for all cart items
      let cartItemContents = `
        <div class="cart-item">
          <img class="cart-item-image" src="${image}">
          <div class="cart-item-details">
            <div class="cart-item-top">
              <h3 class="cart-item-title">${title}</h3>
              <h3 class="cart-item-quantity">x1</h3>
            </div>
            <div class="cart-item-middle">
              <p class="cart-item-description">${description}</p> 
            </div>
            <div class="cart-item-bottom">
              <h3 class="cart-item-price">${price}</h3>
              <button class="cart-item-remove">
                <i class="fa-solid fa-trash-can fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
      `;
      cartItem.innerHTML = cartItemContents;
      cartItems.append(cartItem);
      updateCartQuantity();

      // Ensure item is removed when remove button is clicked
      cartItem.getElementsByClassName("cart-item-remove")[0].addEventListener("click", () => {
        removeBtn = event.target;
        removeBtn.parentElement.parentElement.parentElement.parentElement.remove();
        updateCartQuantity();
      });    
    }

    function updateCartQuantity() {
      let cartItemContainer = document.getElementsByClassName("cart-content")[0];
      let cartItems = cartItemContainer.getElementsByClassName("cart-item");
      let quantity = 0;

      // Loop through each element in the cart to update the quantity
      for (i = 0; i < cartItems.length; i++) {
        let cartItem = cartItems[i];
        // Gets the quantity of each item, remove the multiplier, and convert it to an int
        let itemQuantity = parseInt(cartItem.getElementsByClassName("cart-item-quantity")[0].innerText.replace("x", ""));
        quantity = quantity + itemQuantity;
      }

      // Update quantity for the cart
      document.getElementsByClassName("cart-num-items")[0].innerText = quantity + " Items";

      // Update icon above cart in the header
      document.getElementsByClassName("cart-icon")[0].innerText = quantity;

      updateCartTotal();
    }

    // Update cart total
    function updateCartTotal() {
      let cartItemContainer = document.getElementsByClassName("cart-content")[0];
      let cartItems = cartItemContainer.getElementsByClassName("cart-item");
      let total = 0;

      // Loop through each element in the cart to update the total cost
      for (i = 0; i < cartItems.length; i++) {
        let cartItem = cartItems[i];
        // Takes the price of the item, removes the dollar sign and converts it to a float
        let price = parseFloat(cartItem.getElementsByClassName("cart-item-price")[0].innerText.replace("$", ""));
        total = Math.round((total + price) * 100) / 100;
      }

      // Update total
      document.getElementsByClassName("cart-total")[0].innerText = "$" + total;
    }
  </script>
</html>
