<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <h1>Home</h1>

    <%- include('layouts/footer'); -%>
  </body>
</html>
