/* General */
* {
    /* Get rid of any defaults and allow me to manually change each properties */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { /* Selector for whole html document */
    /* Custom color variables */
    --main-background-color: #fff;
    --header-color: #E3E6F3;
    --header-text-color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--main-background-color);
    overflow-x: hidden;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--header-text-color);
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
}

img {
    max-width: 100%;
}

button:hover {
    cursor: pointer;
}

.fa-lg {
    line-height: 1; /* Line height was .05em by default */
    font-size: 1.35em;
}

/* Header and navigation */
.header {
    background: var(--header-color);
    position: sticky; /* Header sticks to the top of user's screen */
    top: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-left: 15px;
    border-radius: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    padding: 15px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    background-color: lightgray;
}

.navbar ul li button {
    padding: 15px 20px;
    display: block;
}

#cart-btn, #cart-close {
    background-color: var(--header-color);
    border: none;
}

#cart-btn {
    padding-right: 0;
    font-size: 1em;
}

.cart-icon {
    position: relative;
    left: -12px;
    top: -12px;
    border-radius: 9px;
    font-size: 11px;
    background: red;
    color: white;
    padding: 2px 5px;
}

/* Cart */
#cart {
    position: fixed;
    height: 100%;
    width: 25%;
    top: 0;
    right: -25%;
    background: var(--header-color);
    padding: 15px;
    transition: right 0.7s, box-shadow 0.7s;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-overview {
    display: flex;
    align-items: center;
}

.cart-num-items {
    margin-left: 15px;
    font-size: 1.25em;
}

#cart.cart-open {
    right: 0;
    box-shadow: 0 0 0 80vw rgba(0, 0, 0, 0.65);
}

/* Create an empty container to prevent user from interacting outisde of the cart */
#cart-outside {
    position: fixed;
    height: 100%;
    width: 75%;
    top: 0;
    left: -75%;
}

#cart-outside.unclickable {
    left: 0;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

/* Home page */
.main {
    width: 100vw;
    height: 75vh;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("Images/location.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: white;
    font-size: 3em;
}

.main-btn {
}